/* TODO: Make it awesome */

*{ 
    max-width: 960px;
    margin: auto;
}
head{
    background-color: antiquewhite;
}
h1{
    font-size: 35px;
    color: darkcyan;
}

body{
    background-color: rgb(174, 228, 228);
}

nav{
    background-color: lightgreen;
}

ul{
    inset-block: ;
}

li{
    border-color: midnightblue;
    border-radius: 3px;
    text-decoration: none;
}



